<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Web</title>
</head>
<body>
<h1>Python Web</h1>
<ul>
    <li>
        <a href="python_frontend/python_frontend.html">前端</a>
    </li>
    <li>
        <a href="python_backend/python_backend.html">後端</a>
    </li>
    <li>
        <a href="database/database.html">資料庫</a>
    </li>
    <li>
        <a href="python_frontend/python_frontend_test/python_frontend_test.html">前端測試</a>
    </li>
    <li>
        <a href="web_crawler/web_crawler.html">爬蟲</a>
    </li>
</ul>
</body>
</html>