<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appium</title>
</head>
<body>
<h1>Appium 教學</h1>
<ul>
    <li>
        <h2>環境安裝</h2>
        <ul>
            <li>
                <a href="http://appium.io/">appium</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=3dVzDnoXzGE&list=PLLT01U-izpq6NV4JJPZij0LuxZBvazcLC&index=7&ab_channel=%E5%AD%A6%E6%B5%B7%E6%97%A0%E6%B6%AF"
                   target="_blank">python+appium
                </a>
            </li>
        </ul>
    </li>
    <li>
        <h2>教學</h2>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=3dVzDnoXzGE&list=PLLT01U-izpq6NV4JJPZij0LuxZBvazcLC&index=7&ab_channel=%E5%AD%A6%E6%B5%B7%E6%97%A0%E6%B6%AF"
                   target="_blank">
                    python+appium
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=DENZ_hEGQL0&list=PLwDQt7s1o9J6drw3zbSVwa0kS_nQPzYH8&index=70&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    創建一個appium項目
                </a>
            </li>
            <li>
                <a href="https://ithelp.ithome.com.tw/articles/10232214"
                   target="_blank">
                    Appium 自動化測試
                </a>
            </li>
        </ul>
    </li>
    <li>
        <h2>好東西</h2>
        <ul>
            <li>
                <a href="https://www.cnblogs.com/yoyoketang/p/7794493.html">wait_activity(等待app頁面載入完成)</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>