<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Basic</title>
</head>
<body>
<h1>Angular 教學</h1>
<ul>
    <li>
        <h2>環境安裝</h2>
    </li>
    <li>
        <h2>教學</h2>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=EiDewOIGLfc&list=PLwDQt7s1o9J4b2zjOo3flmVFOqEV0H1Pz&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    Angular
                </a>
            </li>
        </ul>
    </li>
    <li>
        <h2>好東西</h2>
    </li>
</ul>
</body>
</html>