<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Frontend</title>
</head>
<body>
<h1>Python Frontend</h1>
<ul>
    <li>
        <h2>環境安裝</h2>
    </li>
    <li>
        <h2>教學</h2>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=xGrP58myAVY&list=PLwDQt7s1o9J6H6vYPCzte5Pi8yvdjRF3t&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    Html
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=xGrP58myAVY&list=PLwDQt7s1o9J6H6vYPCzte5Pi8yvdjRF3t&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    Css
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=ZILD342SlAY&list=PLwDQt7s1o9J6H6vYPCzte5Pi8yvdjRF3t&index=28&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    Javascript
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=WRmm3FgOs9E&list=PLwDQt7s1o9J6H6vYPCzte5Pi8yvdjRF3t&index=57&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    JQuery
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=oIdpuWaYa6w&list=PLwDQt7s1o9J6H6vYPCzte5Pi8yvdjRF3t&index=94&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                   target="_blank">
                    Bootstrap
                </a>
            </li>
            <ul>
                <h3>
                    <a href="https://www.youtube.com/watch?v=RbCKijCM3MQ&list=PLwDQt7s1o9J6y0ebGKxGcc58SuUsOejef&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                       target="_blank">
                        Javascript Framework
                    </a>
                </h3>
                <li><a href="vue.html">Vue</a></li>
                <li><a href="angular.html">Angular</a></li>
                <li><a href="react.html">React</a></li>
            </ul>
        </ul>
    </li>
    <li>
        <h2>好東西</h2>
    </li>
</ul>

</body>
</html>