<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Flask</title>
</head>
<body>
<h1>Python Flask</h1>
<ul>
    <li>
        <h2>環境安裝</h2>
    </li>
    <li>
        <h2>教學</h2>
        <ul>
            <li>
                <a href="https://www.youtube.com/playlist?list=PLwDQt7s1o9J6omic05Ky0rsfmYwLkKcv1"
                   target="_blank">
                    千峰
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=UdRxvHVXTxA&list=PL-g0fdC5RMboN18JNTMCEfe8Ldk8C5pS-&ab_channel=%E5%BD%AD%E5%BD%AD%E7%9A%84%E8%AA%B2%E7%A8%8B"
                   target="_blank">
                    彭彭
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=RWviEK1Si68&list=PLDFBYdF-BxV1G4FBpG1EMyFtbsbZuJOvD&ab_channel=YufanZheng"
                   target="_blank">
                    Flask 教程
                </a>
            </li>
        </ul>
    </li>
    <li>
        <h2>好東西</h2>
        <ul>
            <li>
                <a href="https://xiaosean.github.io/server/2018-04-18-Flask_Ngrok/">Python Flask 結合 Ngrok
                    架一個本地端的Https伺服器</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>