<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Basic</title>
</head>
<body>
<h1>Python 教學</h1>
<ul>
    <li>
        <h2>環境安裝</h2>
        <ul>
            <li>
                <h3>Python</h3>
                <ul>
                    <li>
                        <a href="https://www.python.org/downloads/" target="_blank">Download</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=46KLW1d3MI8&list=PLwDQt7s1o9J7kHlSaw1jnbOGpQHO_zM3d&index=2&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                           target="_blank">教學影片</a>
                    </li>
                </ul>

            </li>
            <li>
                <h3>Pycharm</h3>
                <ul>
                    <li>
                        <a href="https://www.jetbrains.com/pycharm/" target="_blank">Download</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=46KLW1d3MI8&list=PLwDQt7s1o9J7kHlSaw1jnbOGpQHO_zM3d&index=2&ab_channel=%E5%8D%83%E9%94%8B%E6%95%99%E8%82%B2"
                           target="_blank">教學影片</a>
                    </li>
                    <li>
                        <a href="https://www.huaweicloud.com/articles/b93bed40a91552f544a1c162ef6bdd1f.html"
                           target="_blank">Pycharm
                            快速鍵</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h2>教學</h2>
        <ul>
            <li>
                <a href="https://www.youtube.com/playlist?list=PLoDvOw64tSYtp7KCaz8Pm2zJvuFqKF7GB"
                   target="_blank">小甲魚</a>
            </li>
            <li>
                <a href="https://www.youtube.com/playlist?list=PLwDQt7s1o9J7kHlSaw1jnbOGpQHO_zM3d"
                   target="_blank">千峰教育</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>好東西</h2>
        <ul>
            <li><a href="https://ithelp.ithome.com.tw/articles/10221633" target="_blank">排列組合</a></li>
            <li><a href="https://www.itranslater.com/qa/details/2113806590674469888" target="_blank"> list
                按照另一个list排序</a></li>
            <li><a href="https://segmentfault.com/a/1190000004959880" target="_blank"> Dict 排序</a></li>
            <li>
                <a href="https://gist.github.com/kolszewskieu/69b1b9c23d0694133afdb4b61305de04"
                   target="_blank">比較2個list</a>
            </li>
            <li>
                unittest裡面的檔案、test case要以test開頭!!!
            </li>
        </ul>
    </li>
</ul>


</body>
</html>